@import url(./reset.css);

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Header */
header {
    width: 100vw;
    height: 10vh;
    background-color: var(--azul-forte);
    display: flex;
    flex-direction: column;
    align-items: center
}
.header {
    width: 90%;
    height: 12vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header > a {
    width: 120px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    gap: 0.5rem;
    font-size: 1.3rem;
    
}
.header i {
    font-size: 1.5rem;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}
nav ul{
    list-style: none;

    display: flex;
    gap: 1.5rem;
    color: white;
    font-weight: 600;
}
nav ul li a::after {
    content: "";
    width: 0px;
    display: block;
    visibility: hidden;
    border: 1px solid var(--azul-forte);
}
nav ul li a:hover::after, nav ul li a:active::after {
    visibility: visible;
    transition: .5s;
    width: 100%;
}
nav ul li a {
    color: white;
    font-weight: 600;
}
.btn-login {
    padding: 0.5rem 1.3rem;
    border-radius: 5px;
    background-color: var(--azul-escuro);
    transition: all .3s;
}
.btn-login::after {
    display: none;
}
.btn-login:hover, .btn-login:active{
    background-color: var(--azul-claro);
}
#btn-mobile {
    display: none;
}

/* main */
main {
    width: 100vw;
    height: calc(100vh - 10vh - 136px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    padding: 1rem;

    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}
.container-img {
    display: none;
}
.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.titulo-formulario {
    text-align: center;
}
.titulo-formulario h2 {
    font-size: 2rem;
}
.titulo-formulario p > span {
    color: var(--azul-forte);
    font-weight: 600;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.group-iput { 
    display: flex;
    flex-direction: column;
}
.group-iput label {
    font-size: 1.2rem;
}
.group-iput input {
    width: 300px;
    height: 60px;
    padding: 0 1rem;

    background-color: #e9e9e9;
    border-radius: 10px;
    border: none;
    outline: var(--azul-forte);
}
.group-iput input:hover, .group-iput input:focus {
  border: 2px solid var(--cor-principal);
  box-shadow: 0px 0px 0px 7px hsl(180, 100%, 33%, 20%);
  background-color: white;
}
form button {
    width: 300px;
    height: 50px;
    margin-top: 1rem;

    background-color: var(--azul-escuro);
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    transition: all 0.3s;
}
form button:hover, form button:active{
    background-color: var(--azul-forte);
}
form figure span {
    display: none;
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
/* fomr cad */
#idFormCad {
    display: none;
}

/* footer */
footer {
    width: 100%;
    padding: 1rem 0rem 0rem 0rem;
    gap: 1rem;

    background-color: var(--azul-escuro);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    bottom: 0;
}
.footer-conteudo {
    padding: 0rem 5%;
}
.footer-conteudo p {
    font-size: 0.9rem;
}
.footer-bottom {
    /* margin-top: 1rem; */
    padding: 1rem 0rem 1rem 0rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
}

@media (max-width: 990px) {
    .active-header {
        transition: .6s;
        background-color: var(--azul-escuro);
        border-bottom: 1px solid var(--azul-profundo);
    }
    #btn-mobile {
        display: block;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        height: 0px;
        top: 12vh;
        right: 0px;
        background-color: var(--azul-escuro);
        visibility: hidden;
        overflow-y: hidden;
        transition: .6s;
        z-index: 1000;
    }
    #nav.active #menu {
        visibility: visible;
        height: calc(100vh - 12vh);
        overflow-y: auto;
    }
    #menu li {
        width: 100px;
        margin: 1.5rem 1rem;
        border-bottom: 1px solid var(--azul-claro);
    }
    #menu li:last-child { 
        width: 95%;
        border-bottom: none;
        display: flex;
    }
    .btn-login {
        width: 100%;
        text-align: center;
        background-color: var(--azul-forte);
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer {
        border-top: 2px solid ;
        width: 20px;
        transition: .3s;
    }
    #hamburguer::after, #hamburguer::before {
        content: "";
        width: 20px;
        height: 2px;
        background-color: currentColor;
        display: block;
        margin-top: 5px;
        position: relative;
        transition: .3s;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }

}
@media (min-width: 992px) {
    main {
        height: 85vh;
    }
    .container {
        max-height: 600px;
        display: flex;
        padding: 0rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    .container-img {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .container-img img {
        width: 100%;
        max-width: 500px;
        height: 100%;
        border-radius: 5px 0px 0px 5px;
    }
    .formulario {
        width: 50%;
        align-items: center;
        justify-content: center;
    }
}   
 
@media (min-width: 1300px) {
    .container {
        width: 80%;
    }
    .conteudo-home h1 {
        font-size: 3rem;
    }
    .conteudo-home p {
        font-size: 1.2rem;
    }
    .container-img {
        width: 50%;
    }
    .formulario {
        width: 60%;
    }
}
